F4-SMS/PhysInv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.falcon.blu3wolf.com/F4-SMS/PhysInvSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.falcon.blu3wolf.com/F4-SMS/PhysInvSchema">
	<xs:element name="inventory">
		<xs:complexType>
			<xs:all>
				<xs:element name="gun" type="gun" minOccurs="0" />
				<xs:element name="station1" type="station19" minOccurs="0" />
				<xs:element name="station2" type="station28" minOccurs="0" />
				<xs:element name="station3" type="station37" minOccurs="0" />
				<xs:element name="station4" type="station46" minOccurs="0" />
				<xs:element name="station5L" type="stationN" minOccurs="0" />
				<xs:element name="station5" type="station5" minOccurs="0" />
				<xs:element name="station5R" type="stationN" minOccurs="0" />
				<xs:element name="station6" type="station46" minOccurs="0" />
				<xs:element name="station7" type="station37" minOccurs="0" />
				<xs:element name="station8" type="station28" minOccurs="0" />
				<xs:element name="station9" type="station19" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="gun">
		<xs:choice>
			<xs:element name="PGU-28" type="ammo" />
			<xs:element name="M56" type="ammo" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="station19" >
		<xs:choice>
			<xs:element name="_16S210" type="_16S210" />
			<xs:element name="LAU-129" type="LAU-129" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="station28">
		<xs:all>
			<xs:element name="_16S301" type="_16S301" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="station37">
		<xs:choice>
			<xs:element name="_16S301" type="_16S301" />
			<xs:element name="WWP" type="WWP" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="station46" >
		<xs:choice>
			<xs:element name="WWP" type="WWP" />
			<xs:element name="NJETT" type="NJETT" />
			<xs:element name="TK-370" type="FUEL" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="stationN" >
		<xs:all>
			<xs:element name="pod" type="pod" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="station5" >
		<xs:all>
			<xs:element name="_16S951" type="_16S951" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="_16S210">
		<xs:choice minOccurs="0">
			<xs:element name="AIM-9P" type="AAM" />
			<xs:element name="AIM-9N" type="AAM" />
			<xs:element name="AIM-9M" type="AAM" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LAU-129">
		<xs:choice minOccurs="0">
			<xs:element name="AIM-120A" type="AAM" />
			<xs:element name="AIM-120B" type="AAM" />
			<xs:element name="AIM-120C" type="AAM" />
			<xs:element name="AIM-9P" type="AAM" />
			<xs:element name="AIM-9N" type="AAM" />
			<xs:element name="AIM-9M" type="AAM" />
			<xs:element name="AIM-9X" type="AAM" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="_16S301">
		<xs:choice minOccurs="0" >
			<xs:element name="LAU-129" type="LAU-129" />
			<xs:element name="_16S210" type="_16S210" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WWP" >
		<xs:choice minOccurs="0">
			<xs:element name="TER-9A" type="TER" />
			<xs:element name="TER-9Amod" type="TER" />
			<xs:element name="LAU-88" type="LAU-88" />
			<xs:element name="LAU-117" type="LAU-117" />
			<xs:element name="LAU-118" type="LAU-118" />
			<xs:element name="SUU-20" type="SUU-20" />
			<xs:element name="Mk-81" type="bomb" />
			<xs:element name="Mk-82" type="bomb" />
			<xs:element name="Mk-83" type="bomb" />
			<xs:element name="Mk-84" type="bomb" />
			<xs:element name="Mk-106" type="bomb" />
			<xs:element name="BDU-33" type="bomb" />
			<xs:element name="BDU-38" type="bomb" />
			<xs:element name="BDU-50" type="bomb" />
			<xs:element name="BDU-56" type="bomb" />
			<xs:element name="BLU-109" type="bomb" />
			<xs:element name="GBU-10" type="bomb" />
			<xs:element name="GBU-12" type="bomb" />
			<xs:element name="GBU-24" type="bomb" />
			<xs:element name="GBU-31" type="bomb" />
			<xs:element name="GBU-32" type="bomb" />
			<xs:element name="GBU-38" type="bomb" />
			<xs:element name="CBU-87" type="bomb" />
			<xs:element name="CBU-89" type="bomb" />
			<xs:element name="CBU-97" type="bomb" />
			<xs:element name="CBU-103" type="bomb" />
			<xs:element name="CBU-104" type="bomb" />
			<xs:element name="CBU-105" type="bomb" />
			<xs:element name="B61" type="bomb" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NJETT" >
		<xs:all minOccurs="0">
			<xs:element name="TK-600" type="FUEL" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="_16S951">
		<xs:choice minOccurs="0">
			<xs:element name="TK-300" type="FUEL" />
			<xs:element name="ALQ-131" type="ECM" />
			<xs:element name="ALQ-184" type="ECM" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TER">
		<xs:choice minOccurs="0">
			<xs:element name="Mk-81" type="bomb3" />
			<xs:element name="Mk-82" type="bomb3" />
			<xs:element name="Mk-106" type="bomb3" />
			<xs:element name="BDU-33" type="bomb3" />
			<xs:element name="CBU-87" type="bomb3" />
			<xs:element name="CBU-89" type="bomb3" />
			<xs:element name="CBU-97" type="bomb3" />
			<xs:element name="GBU-12" type="bomb3" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LAU-88">
		<xs:choice minOccurs="0">
			<xs:element name=""
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AAM" >
		<xs:attribute ref="aimqty" />
	</xs:complexType>
	<xs:complexType name="FUEL">
	</xs:complexType>
	<xs:complexType name="ECM">
	</xs:complexType>
	<xs:complexType name="pod" >
		<xs:attribute ref="type" />
	</xs:complexType>
	<xs:complexType name="ammo" >
		<xs:attribute ref="ammoqty" use="required" />
	</xs:complexType>
	<xs:complexType name="bomb">
		<xs:attribute ref="bombqty1" />
	</xs:complexType>
	<xs:complexType name="bomb3">
		<xs:attribute ref="bombqty3" />
	</xs:complexType>

	<xs:attribute default="1" name="agmqty" >
		
	</xs:attribute>
	<xs:attribute default="1" name="bombqty3">
		<xs:simpleType>
			<xs:restriction base="qty" >
				<xs:maxInclusive value="3" />
				<xs:minInclusive value="0" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute default="1" name="bombqty1">
		<xs:simpleType>
			<xs:restriction base="qty" >
				<xs:maxInclusive value="1" />
				<xs:minInclusive value="0" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute default="1" name="aimqty" >
		<xs:simpleType>
			<xs:restriction base="qty" >
				<xs:maxInclusive value="1" />
				<xs:minInclusive value="0" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="ammoqty">
		<xs:simpleType>
			<xs:restriction base="qty" >
				<xs:maxInclusive value="512" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ASQ-213" />
				<xs:enumeration value="AAQ-13" />
				<xs:enumeration value="AAQ-14" />
				<xs:enumeration value="AAQ-28" />
				<xs:enumeration value="AAQ-33" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:simpleType name="qty" >
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>